*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif ;
}
body{
    background:  linear-gradient(150deg,rgb(8, 0, 62),rgb(0, 82, 141));;
}
.homebody{
    background: linear-gradient(150deg,rgb(8, 0, 62),rgb(0, 82, 141));
}
.logo{
    width: 150px;
    margin: 20px auto 20px;
    display: grid;
}
.homelogo{
    width: 150px;
    margin: 20px auto 20px;
    display: grid;
    background: white;
    border-radius: 20px;
    margin-top: 80px;
    transition: 1s;
}
.welcome{
    color: #fff;
    text-align: center;
    font-size: 100px;
    margin-top: 50px;
    transition-duration: 3s;
}
.strtbtn{
    margin: 60px auto 50px;
    align-items: center;
    display: block;
    padding: 20px 50px;
    border-radius: 40px;
    outline: none;
    border: 0px;
    background: linear-gradient(135deg,rgb(176, 0, 149),rgb(179, 150, 172));
    font-size: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #fff;
    cursor: pointer;
}
.app{
    align-items: center;
    margin: 30px auto 30px;
    background: white;
    width: 90%;
    max-width: 700px;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 1px 1px 20px rgb(98, 98, 98);

}
.app h1{
    font-size: 50px;
    color: rgb(32, 32, 32);
    border-bottom: 1px solid #333;
    padding-bottom:30px ;
}
.quiz{
    padding: 20px 0 ;
}
.btn{
    background:#fff;
    color: #222;
    display: block;
    padding: 10px;
    margin: 20px 0;
    border-radius: 5px;
    text-align: left;
    width: 100%;
    border: 2px solid #cccccc;
    cursor: pointer;
}
.btn:hover:not([disabled]){
    background: #e8e7e7; 
    transition: 0.7s;      
}
.btn:disabled{
    cursor: not-allowed;
}
#next-btn{
    padding: 13px 50px;
    border: 0px solid black;
    background: rgb(0, 159, 244);
    color: #fff;
    border-radius: 20px;
    cursor: pointer;
    display: block;
    margin: 20px auto 20px;
    display: none;
}
.correct{
    background: rgb(0, 190, 10);
}
.incorrect{
    background: rgb(255, 0, 0);
}